{% comment %}
  Renders a section header with a title and description.

  Accepts:
  - section_title (string): The title of the section.
  - section_description (string): The description of the section.
  - wrapper_classes (string): Additional classes to add to the wrapper div.
  - title_classes (string): Additional classes to add to the title h2.
  - description_classes (string): Additional classes to add to the description div.
{% endcomment %}

{% if section_title != blank or section_description != blank %}
  <div class="section-title--wrapper{% if wrapper_classes %} {{ wrapper_classes }}{% endif %}">
    {% if section_title != blank %}
      {% if template.name == 'index' %}
      <h1 style="display:none!important;">{{ section_title }}</h1>
      {% endif %}      
      <h2 class="section-title text-link-animated{% if title_classes %} {{ title_classes }}{% endif %}">{{ section_title }}</h2>
    {% endif %}
    {% if section_description != blank %}
      <div class="section-description subdued-text text-link-animated{% if description_classes %} {{ description_classes }}{% endif %}">{{ section_description }}</div>
    {% endif %}
  </div>
{% endif %}