{% comment %}
	Renders a newsletter form section.

	Accepts:
		- section: The section object. Required.
		- form_id: The form ID. Required.
		- text_alignment: The text alignment. Optional.

	Usage:
		{% render 'newsletter-form', section: section, form_id: 'newsletter_section_form', text_alignment: section.settings.textAlignment %}
{% endcomment %}

<div class="newsletter-wrapper--outer{% if text_alignment %} newsletter-text--{{ text_alignment }}{% endif %} show-on-scroll">
	<div class="newsletter-content--wrapper">
		<h3 class="newsletter-section--title">{{ section.settings.newsletter_heading }}</h3>
	</div>
    {% if section.settings.newsletter_description != empty %}
    <div class="bodycopywrap">      
			<div class="rte text-link-animated">{{ section.settings.newsletter_description }}</div>
    </div>
    {% endif %}  
	<div class="newsletter-form--wrapper">
		{% form 'customer', id: form_id %}
			{{ form.errors | default_errors }}

			{% if form.posted_successfully? %}
				<p class="note form-success success_section">{{ 'general.newsletter_form_section.thanks' | t }}</p>
			{% else %}
				<input type="hidden" name="contact[tags]" value="newsletter">

				<div id="newsletter-wrapper">
					<input id="newsletter_text" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form_section.newsletter_text' | t }}" name="contact[email]" class="input-group-field email" aria-label="{{ 'general.newsletter_form_section.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
					<button id="newsletter_submit" type="submit" aria-label="{{ 'general.accessibility.contact_form.submit' | t }}" class="standalone-icon--wrapper">SUBMIT {% render 'theme-icon' with icon: 'chevron_right', iconSize: 20 %}</button>
				</div>
			{% endif %}
		{% endform %}
	</div>
</div>