<safe-load-scripts class="hidden">
  <script src="{{ 'component-out-of-stock-form.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="out-of-stock-form"></script>
</safe-load-scripts>

{% liquid 
  assign current_variant = product.selected_or_first_available_variant
  assign variant_title = current_variant.title

  if product.has_only_default_variant
    assign variant_title = ''
  endif
%}

<transition name="fade">
  <out-of-stock-form class="out-of-stock-form out-of-stock-form--active text-link-animated">
    {% form 'contact' %}
      {% if form.posted_successfully? %}
          <div class="accent-text posted-successfully">{{ 'products.product.out_of_stock_success' | t }}</div>
      {% else %}
          <div data-form-reveal-link id="notify-me">{{ 'products.product.out_of_stock_html' | t: product: product.title, variant: current_variant.title }}</div>
      {% endif %}
      {% if form.errors %}
        <div class="error feedback accent-text">
          <div class="accent-text">{{ 'products.product.wrong_email' | t }}</div>
        </div>
      {% endif %}
      {% unless form.posted_successfully? %}
        <div data-form-input-wrapper id="notify-me-wrapper" class="clearfix show-form no-js-show" style="display:none;">
          {% if customer %}
            <input type="hidden" class="logged-in" value="0">
            <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
          {% else %}
            <input
              required="required"
              type="email"
              name="contact[email]"
              placeholder="your@email.com"
              class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}"
            />
          {% endif %}
          <div>
            <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title }} - {{ variant_title }} becomes available." />
          </div>
          <button class="btn" type="submit">{{ 'contact.form.send' | t }}</button>
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        </div>
      {% endunless %}
    {% endform %}
  </out-of-stock-form>
</transition>
