{{ 'section-accordion.min.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'section-accordion.min.css' | asset_url | stylesheet_tag }}</noscript>

<section
  class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}"
  data-wetheme-section-type="accordion--faq"
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  {% comment %} Section title and description {% endcomment %}
  {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description %}

  <div class="width--narrow">
    {% for block in section.blocks %}
      {% unless block.settings.text == blank and block.settings.question == blank %}
        <div class="accordion-content" {{ block.shopify_attributes }}>
          {% render 'collapsible-tab', icon: 'none', custom_icon: false, heading: block.settings.question, content: block.settings.text, open_close_icon: section.settings.faq_icon, open_by_default: false %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.accordion.name",
  "class": "accordion-faq",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading",
      "default": "Frequently asked questions"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "radio",
      "id": "faq_icon",
      "label": "t:all.Icon_style",
      "options": [
        {
          "value": "plus_minus",
          "label": "t:all.Plus_minus"
        },
        {
          "value": "caret",
          "label": "t:all.Caret"
        }
      ],
      "default": "plus_minus"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "tab_content",
      "name": "t:sections.accordion.blocks.tab_content.name",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "t:all.Heading",
          "default": "Place your question or heading here"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Here you can place an explanation or answer to the question.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.accordion.presets.name",
      "blocks": [
        {
          "type": "tab_content"
        },
        {
          "type": "tab_content"
        },
        {
          "type": "tab_content"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}