{{ 'section-collection-header.min.css' | asset_url | stylesheet_tag }}

{% if section.settings.enable_fade %}
  <safe-load-scripts class="hidden">
    <script src="{{ 'component-fade-on-scroll.js' | asset_url }}" type="module" defer="defer" data-internal-script data-flow-load-key="component-fade-on-scroll"></script>
  </safe-load-scripts>
{% endif %}

<div
  class="color-scheme--{{ section.settings.colors }} collection-header collection-header--{{ section.id }} collection-header--content-{{ section.settings.content_position }} show-on-scroll"
  data-wetheme-section-type="collection-header"
  data-wetheme-section-id="{{ section.id }}"
>

  {% comment %} Text content {% endcomment %}

  {% if section.settings.show_breadcrumbs or section.settings.show_title or section.settings.show_description %}
    <div class="collection-header__text-content wrapper-spacing--h width--content">
      <div class="width--narrow">
        {% if section.settings.enable_fade %}
          <fade-on-scroll style="display:block;"> {% # Display block needed in Safari for opacity to take effect %}
        {% endif %}
          {% if section.settings.show_breadcrumbs %}
            <div class="collection-header__breadcrumbs">
              <div id="breadcrumbs" class="collection-header__text-item">
                {% render 'breadcrumb' %}
              </div>
            </div>
          {% endif %}

          {% if section.settings.show_title %}
            <div class="collection-header__title">
              <h1 class="collection-header__text-item">{{ collection.title }}</h1>
            </div>
          {% endif %}

          {% if section.settings.show_description %}
            <div class="collection-header__description">
              <div class="collection-header__text-item text-link-animated">{{ collection.description }}</div>
            </div>
          {% endif %}
        {% if section.settings.enable_fade %}
          </fade-on-scroll>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% comment %} Image content - desktop and mobile {% endcomment %}

  {% for i in (1..2) %}
    {%- liquid
      capture device
        cycle 'desktop', 'mobile'
      endcapture
  
      assign show_image_setting = 'show_image_' | append: device
      assign image_setting = 'image_' | append: device
      assign min_height_setting = 'min_height_' | append: device
      assign original_image_class = 'collection-header__' | append: device | append: '-image--original'
      assign cropped_image_class = 'collection-header__' | append: device | append: '-image--cropped'
  
      if section.settings[show_image_setting] and collection.featured_image
        assign collection_image = collection.featured_image
      else
        assign collection_image = null
      endif
      if section.settings[image_setting]
        assign collection_image = section.settings[image_setting]
      endif
    -%}

    {% unless section.settings[min_height_setting] == 'original' %}
      {% if device == 'desktop' %}
        <style>
          .collection-header--{{ section.id }} {
            --min-height-desktop: {{ section.settings[min_height_setting] }}px;
          }
        </style>
      {% else %}
        <style>
          .collection-header--{{ section.id }} {
            --min-height-mobile: {{ section.settings[min_height_setting] }}px;
          }
        </style>
      {% endif %}
    {% endunless %}
  
    {% if collection_image %}
      <div
        class="collection-header__image-overlay collection-header__image-overlay--{{ device }}"
        style="background-color: {{ section.settings.image_overlay_color }}; opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};"
      >
      </div>
      {% if section.settings[min_height_setting] == 'original' %}
        <div class="{{ original_image_class }}">
          {% render 'responsive-image' with collection_image, sizes: '100vw', loading: 'eager', allow_stretch: true %}
        </div>
      {% else %}
        {%- liquid
          if section.settings.enable_parallax and device == 'desktop'
            assign parallax = true
          endif
        -%}
        <style>
          {% capture selector %}.collection-header--{{ section.id }} .{{ cropped_image_class }} .collection-header__bg-image{% endcapture %}
          {% render 'responsive-background-image' with collection_image, selector: selector, sizes: '2000, 4000' %}

          {% if parallax %}
            {%- liquid
              if section.settings[min_height_setting] == '250'
                assign height_factor = 2
                assign margin_factor = -0.5
              else
                assign height_factor = 1.5
                assign margin_factor = -0.25
              endif
            -%}
            @media only screen and (min-width: 768px) {
              .collection-header--{{ section.id }} .{{ cropped_image_class }} .rellax {
                height: calc(100% * {{ height_factor }});
                margin-top: {{ section.settings[min_height_setting] | times: margin_factor | append: 'px' }};
              }
            }
          {% endif %}
        </style>
        <div class="{{ cropped_image_class }}{% if parallax %} parallax{% endif %}">
          <div class="collection-header__bg-image{% if parallax %} rellax{% endif %}"{% if parallax %} data-rellax-percentage="0.5" data-rellax-desktop-speed="-4" data-rellax-tablet-speed="-2"{% endif %} role="img" aria-label="{{ collection_image.alt | escape }}"></div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.collection-header.name",
  "class": "section--collection-header",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "t:sections.collection-header.settings.show_breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:sections.collection-header.settings.show_title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.collection-header.settings.show_description",
      "default": true
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.collection-header.settings.content_position",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "select",
      "id": "min_height_desktop",
      "label": "t:sections.collection-header.settings.min_height",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "250",
          "label": "t:all.Narrow"
        },
        {
          "value": "450",
          "label": "t:all.Small"
        },
        {
          "value": "550",
          "label": "t:all.Medium"
        },
        {
          "value": "650",
          "label": "t:all.Large"
        }
      ],
      "default": "250"
    },
    {
      "type": "checkbox",
      "id": "show_image_desktop",
      "label": "t:sections.collection-header.settings.show_image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:all.Image",
      "info": "t:sections.collection-header.settings.desktop_image_info"
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "select",
      "id": "min_height_mobile",
      "label": "t:sections.collection-header.settings.min_height",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "150",
          "label": "t:all.Narrow"
        },
        {
          "value": "250",
          "label": "t:all.Small"
        },
        {
          "value": "300",
          "label": "t:all.Medium"
        },
        {
          "value": "400",
          "label": "t:all.Large"
        }
      ],
      "default": "150"
    },
    {
      "type": "checkbox",
      "id": "show_image_mobile",
      "label": "t:sections.collection-header.settings.show_image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:all.Image",
      "info": "t:sections.collection-header.settings.mobile_image_info"
    },
    {
      "type": "header",
      "content": "t:all.animation"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:all.Enable_parallax_effect",
      "default": true,
      "info": "t:sections.collection-header.settings.parallax_info"
    },
    {
      "type": "checkbox",
      "id": "enable_fade",
      "label": "t:sections.collection-header.settings.enable_fade",
      "default": true
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.collection-header.settings.image_only_settings"
    },
    {
      "type": "color",
      "id": "image_overlay_color",
      "label": "t:sections.collection-header.settings.image_overlay",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "label": "t:sections.collection-header.settings.image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "t:all.percentage",
      "default": 0
    }
  ]
}
{% endschema %}
