{% assign footer_item_width = '' %}
{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'large--one-whole medium--one-whole small--one-whole' %}
{% when 2 %}
	{% assign footer_item_width = 'large--one-half medium--one-half small--one-whole' %}
{% when 3 %}
	{% assign footer_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% when 4 %}
	{% assign footer_item_width = 'large--one-quarter medium--one-half small--one-whole' %}
{% endcase %}

<footer
  class="footer-main color-scheme--{{ section.settings.color_scheme }} site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ section.settings.alignment }}"
  data-wetheme-section-type="footer-main" data-wetheme-section-id="{{ section.id }}"
>
	<div class="wrapper-padded">
        <div class="footer-logo-block">
          <div class="footer-logo">
            <a href="{{ section.settings.logo-url }}" aria-label="Read more about logo">{{ section.settings.footer-logo | image_url: width:'342', height:'63' | image_tag: loading: "lazy" }}</a>
            <p class="logo-title"><a href="{{ section.settings.logo-url }}">{{ section.settings.logo-text }}</a></p>
          </div>
        <div class="phone-num">
            <p class="ph-number">
                <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
            </p>
            <p class="email-address">
                <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
            </p>
        </div>
          {% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}
                  <ul class="social_wrapper">
                    {% if block.settings.fb_img != blank %}
                    <li>
                      <a href="{{ block.settings.fb_url }}" aria-label="Read more and go to social media">{{ block.settings.fb_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                    {% if block.settings.x_img != blank %}
                    <li>
                      <a href="{{ block.settings.x_url }}" aria-label="Read more and go to social media">{{ block.settings.x_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                    {% if block.settings.g_img != blank %}
                    <li>
                      <a href="{{ block.settings.g_url }}" aria-label="Read more and go to social media">{{ block.settings.g_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                    {% if block.settings.y_img != blank %}
                    <li>
                      <a href="{{ block.settings.y_url }}" aria-label="Read more and go to social media">{{ block.settings.y_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                    {% if block.settings.ins_img != blank %}
                    <li>
                      <a href="{{ block.settings.ins_url }}" aria-label="Read more and go to social media">{{ block.settings.ins_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                    {% if block.settings.pin_img != blank %}
                    <li>
                      <a href="{{ block.settings.pin_url }}" aria-label="Read more and go to social media">{{ block.settings.pin_img | image_url: width:'50', height:'50' | image_tag }}</a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endcase %}
          {% endfor %}
        </div>
		<div class="grid">

			{% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}
{% comment %}
                    <div class="grid__item {{ footer_item_width }} social-media-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.social_title == "" %}
                            <div class="h3 footer-header">{{ block.settings.social_title | escape }}</div>
                        {% endunless %}
                        {% render 'social-icons' %}
                    </div>
        {% endcomment %}

			    {% when 'menu' %}


                    {% assign menu = linklists[block.settings.footer_linklist] %}
                    <div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.menu_title == "" %}
                            <div class="h3 footer-header">{{ block.settings.menu_title | escape }}</div>
                        {% endunless %}
                        {% if menu.links.size > 0 %}
                            <ul class="footer-content nav-link-animated">
                                {% for link in menu.links %}
                                    {% if link.links != blank %}
                                        <li>
                                            <a href="{{ link.url }}" class="footer--has-dropdown-title"><span class="animated-underline">{{ link.title }}</span></a>
                                            <ul class="footer--level-2">
                                                {% for sub_link in link.links %}
                                                        <li><a href="{{ sub_link.url }}"><span class="animated-underline">{{ sub_link.title | escape }}</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ link.url }}"><span class="animated-underline">{{ link.title }}</span></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

				{% when 'text' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% unless block.settings.title == "" %}
                            <div class="rte footer-article text-link-animated">{{ block.settings.richtext }}</div>
                        {% endunless %}
                    </div>

                {% when 'follow_on_shop' %}

                    <div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
                        {% unless block.settings.title == "" %}
                            <div class="h3 footer-header">{{ block.settings.title | escape }}</div>
                        {% endunless %}
                        {% if shop.features.follow_on_shop? %}
                            {{ shop | login_button: action: 'follow' }}
                        {% endif %}
                    </div>

				{% when 'image' %}

					<div class="grid__item {{ footer_item_width }} image-footer" {{ block.shopify_attributes }}>
                    {% if block.settings.image != blank %}
				      {%- assign img_url = block.settings.image | image_url: width: 600 -%}
                        {% if block.settings.image.alt != empty %}
                            {% capture footer_alt %}{{ block.settings.image.alt }}{% endcapture %}
                        {% else %}
                            {% if block.settings.title != empty %}
                                {% capture footer_alt %}{{ block.settings.title }}{% endcapture %}
                            {% else %}
                                {% capture footer_alt %}{{ shop.name }}{% endcapture %}
                            {% endif %}
                        {% endif %}
				    {% else %}
				      {%- assign img_url = '' -%}
				    {% endif %}
				    {% if block.settings.link != blank and img_url != blank %}
				      <a href="{{ block.settings.link }}">
				    {% elsif img_url != blank %}
				      <div class="image-bar__item">
				    {% else %}
				      <div class="image-bar__item">
				    {% endif %}
				    <div class="image-bar__content">
				      {% if img_url == blank %}
				          {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
				      {% else %}
						{% render 'responsive-image' with block.settings.image, alt: footer_alt | escape %}
				      {% endif %}
				    </div>
				    {% if block.settings.link != blank and img_url != blank %}
				      </a>
				    {% else %}
				      </div>
				    {% endif %}

				    {% unless block.settings.title == "" %}
				      <h3 class="image-bar--title">{{ block.settings.title }}</h3>
                    {% endunless %}
					</div>

				{% when 'newsletter' %}

					<div class="grid__item {{ footer_item_width }} newsletter-footer" {{ block.shopify_attributes }}>
						{% unless block.settings.newsletter_title == "" %}
							<div class="h3 footer-header">{{ block.settings.newsletter_title | escape }}</div>
                        {% endunless %}
						{% if block.settings.footer_newsletter_description != empty %}
                            <div class="rte footer-article text-link-animated">{{ block.settings.footer_newsletter_description }}</div>
						{% endif %}
						{% form 'customer', id: 'newsletter-footer_form' %}
							{{ form.errors | default_errors }}

							{% if form.posted_successfully? %}
								<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
							{% else %}
								<div class="input-group">
                                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <span>
                                        <button type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                                    </span>
								</div>
							{% endif %}
						{% endform %}
					</div>
			{% endcase %}
            {% endfor %}

        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  jQuery(document).ready(function(){
        jQuery('.footer-header').click(function(){
            if (jQuery(window).width() < 768) {
                jQuery(this).siblings('.footer-content').slideToggle();
                jQuery(this).toggleClass('active');
            }
        });
    });
</script>
{% schema %}
{
  "name": "t:sections.footer-main.name",
  "max_blocks": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "footer-logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "logo-text",
      "label": "Logo Text",
      "default": "America's Oldest Wholesale Candy Company"
    },
    {
      "type": "url",
      "id": "logo-url",
      "label": "Logo URL"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "412-678-8851"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default":"support@candyfavorites.com"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.footer-main.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:all.Color_scheme",
      "default": "accent",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:all.Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Text details"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "t:all.Text",
          "default": "<p>Create a captivating brand story, explain details of your products or highlight store promotions</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:all.Navigation",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "t:all.Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "t:sections.footer-main.blocks.menu.settings.footer_linklist.label",
          "default": "footer",
          "info": "t:sections.footer-main.blocks.menu.settings.footer_linklist.info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:all.Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "t:all.Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "footer_newsletter_description",
          "label": "t:sections.footer-main.blocks.newsletter.settings.footer_newsletter_description.label"
        }
      ]
    },
    {
      "type": "social",
      "name": "t:sections.footer-main.blocks.social.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "social_title",
          "label": "t:all.Heading",
          "default": "Get connected"
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer-main.blocks.social.settings.paragraph-1.content"
        },
        {
          "type": "image_picker",
          "id": "fb_img",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "fb_url",
          "label": "Facebook URL"
        },
        {
          "type": "image_picker",
          "id": "x_img",
          "label": "X - Twitter"
        },
        {
          "type": "url",
          "id": "x_url",
          "label": "X-Twitter URL"
        },
        {
          "type": "image_picker",
          "id": "g_img",
          "label": "Insta"
        },
        {
          "type": "url",
          "id": "g_url",
          "label": "Insta URL"
        },
        {
          "type": "image_picker",
          "id": "y_img",
          "label": "Tiktok"
        },
        {
          "type": "url",
          "id": "y_url",
          "label": "Tiktok URL"
        },
        {
          "type": "image_picker",
          "id": "ins_img",
          "label": "Linkdin"
        },
        {
          "type": "url",
          "id": "ins_url",
          "label": "Linkdin URL"
        },
        {
          "type": "image_picker",
          "id": "pin_img",
          "label": "Pinterest"
        },
        {
          "type": "url",
          "id": "pin_url",
          "label": "Pinterest URL"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:all.Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:all.Link",
          "info": "t:all.Optional"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Title",
          "info": "t:all.Optional"
        }
      ]
    },
    {
      "type": "follow_on_shop",
      "name": "t:sections.footer-main.blocks.follow_on_shop.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer-main.blocks.follow_on_shop.settings.paragraph-0.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Follow us on the Shop app"
        }
      ]
    }
  ]
}
{% endschema %}
