{{ 'section-image-with-text-overlay.min.css' | asset_url | stylesheet_tag: preload: true }}

{% liquid
  assign section_link_enabled = true
  for block in section.blocks
    case block.type
      when 'button'
        if block.settings.first_button_link != blank and block.settings.first_button_label != blank or block.settings.second_button_link != blank and block.settings.second_button_label != blank
          assign section_link_enabled = false
        endif
      when 'image'
        if block.settings.image_link != blank
          assign section_link_enabled = false
        endif
    endcase
  endfor
  assign section_link = false
  if section_link_enabled and section.settings.section_link != blank
    assign section_link = true
  endif
%}

<div
  class="wrapper-spacing--v"
  data-wetheme-section-type="image-with-text-overlay"
  data-wetheme-section-id="{{ section.id }}"
  style="--margin-section-top: {{ section.settings.section_margin_top }}px; --margin-section-bottom: {{ section.settings.section_margin_bottom }}px;"
>
  <div class="image-with-text-overlay__grid {{ section.id }}{% if section.settings.animation_style == 'sticky_content' %} sticky_content{% endif %}">
    <div class="image-with-text-overlay__grid--background{% if settings.ken_burns_enabled %} kb-enabled{% endif %}" style="--overlay-color: {{ section.settings.image_overlay_color }}; --overlay-opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};">

      {% for i in (1..2) %}
        {%- liquid
          capture device
            cycle 'desktop', 'mobile'
          endcapture
      
          assign image_setting = 'image_' | append: device
          assign height_setting = 'height_' | append: device
          assign original_image_class = 'image-with-text-overlay__' | append: device | append: '-image--original'
          assign cropped_image_class = 'image-with-text-overlay__' | append: device | append: '-image--cropped'
          assign background_image = section.settings[image_setting]
          if device == 'mobile' and section.settings.image_mobile == blank and section.settings.image_desktop
            assign background_image = section.settings.image_desktop
          endif
        -%}

        {% if section.settings[height_setting] == 'original' %}
          <div class="{{ original_image_class }}">
            {% if background_image %}
              {% liquid 
                assign alt = shop.name | escape
                if background_image.alt != blank
                  assign alt = background_image.alt | escape
                endif
              %}
              {% render 'responsive-image' with background_image, sizes: '100vw', loading: 'eager', allow_stretch: true, alt: alt %}
            {% else %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder icon--placeholder--subdued' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}
            {% endif %}
          </div>
        {% else %}
          {%- liquid
            assign parallax = false
            if section.settings.animation_style == 'parallax' and device == 'desktop'
              assign parallax = true
            endif
          -%}
          <style>
            .{{ section.id }} {
              --height-{{ device }}: {{ section.settings[height_setting] }};
            } 
  
            {% if parallax %}
              @media only screen and (min-width: 768px) {
                .{{ section.id }} .{{ cropped_image_class }} .rellax {
                  height: calc(100% * 1.5);
                  margin-top: {{ section.settings[height_setting] | times: -0.25 | append: 'px' }};
                }
              }
            {% endif %}

            {% capture selector %}.{{ section.id }} .{{ cropped_image_class }} .image-with-text-overlay__cropped-image{% endcapture %}
            {% render 'responsive-background-image' with background_image, selector: selector, sizes: '2000, 4000' %}

            
          </style>
          <div class="{{ cropped_image_class }}">
            {% if background_image %}
              {% liquid 
                assign alt = shop.name | escape
                if background_image.alt != blank
                  assign alt = background_image.alt | escape
                endif
              %}
              <div class="image-with-text-overlay__cropped-image{% if parallax %} rellax{% endif %}"{% if parallax %} data-rellax-percentage="0.5" data-rellax-desktop-speed="-4" data-rellax-tablet-speed="-2"{% endif %} role="img" aria-label="{{ alt }}"></div>
            {% else %}
              <div class="image-with-text-overlay__cropped-placeholder{% if parallax %} rellax{% endif %}"{% if parallax %} data-rellax-percentage="0.5" data-rellax-desktop-speed="-4" data-rellax-tablet-speed="-2"{% endif %}>
                {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder icon--placeholder--subdued' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if section_link %}
      <a class="image-with-text-overlay__section-link" href="{{ section.settings.section_link }}" style="z-index: 1;"></a>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="image-with-text-overlay__grid--foreground image-with-text-overlay__text--position-mobile-{{ section.settings.text_position_mobile }} image-with-text-overlay__text--position-desktop-{{ section.settings.text_position_desktop }}"{% if section_link %} style="pointer-events: none;"{% endif %}>
        {% liquid 
          assign caption_bg_transparent = false
          if section.settings.caption_bg_color == 'rgba(0, 0, 0, 0)' or section.settings.caption_bg_color == 'rgba(0,0,0,0)' or section.settings.caption_bg_color == 'none' or section.settings.caption_bg_color == 'transparent' or section.settings.caption_bg_color == ''
            assign caption_bg_transparent = true
          endif
        %}
        <div
          class="image-with-text-overlay__caption image-with-text-overlay__caption-{% if caption_bg_transparent %}transparent{% else %}solid{% endif %}-bg image-with-text-overlay__caption--align-mobile-{{ section.settings.text_alignment_mobile }} image-with-text-overlay__caption--align-desktop-{{ section.settings.text_alignment_desktop }}"
          style="background: {{ section.settings.caption_bg_color }}; color: {{ section.settings.text_color }}; --link-color: {{ section.settings.text_color }}; --link-border-color: {{ section.settings.text_color | color_modify: 'alpha', 0.5 }}; --text-color-transparent25: {{ section.settings.text_color | color_modify: 'alpha', 0.25 }}; --caption-width-desktop: {{ section.settings.caption_width_desktop }}%;"
        >
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'heading' %}
                {% if block.settings.title != blank %}
                  <style>
                    .{{ block.id }} {
                      font-size: {{ block.settings.font_size_mobile }}px;

                      @media screen and (min-width: 768px) {
                        font-size: {{ block.settings.font_size_desktop }}px;
                      }
                    }
                  </style>
                  <h2 class="{{ block.id }} image-with-text-overlay__heading text-link-animated" style="padding-bottom: {{ block.settings.heading_bottom_spacing }}px;" {{ block.shopify_attributes }}>{{ block.settings.title }}</h2>
                {% endif %}

              {% when 'text' %}
                {% if block.settings.text != blank %}
                  <style>
                    .{{ block.id }} {
                      font-size: {{ block.settings.font_size_mobile }}px;

                      @media screen and (min-width: 768px) {
                        font-size: {{ block.settings.font_size_desktop }}px;
                      }
                    }
                  </style>
                  <div class="{{ block.id }} image-with-text-overlay__text text-link-animated" style="padding-bottom: {{ block.settings.text_bottom_spacing }}px;" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                {% endif %}

              {% when 'text_with_icon' %}
                {% liquid
                  assign icon = block.settings.icon
                  assign custom_icon = false
                  if block.settings.custom_icon
                    assign icon = block.settings.custom_icon
                    assign custom_icon = true
                  endif
                %}

                {% capture block_attr %}
                  style="padding-bottom: {{ block.settings.text_with_icon_bottom_spacing }}px;"
                {% endcapture %}

                {% capture link_attr %}
                  style="color: {{ section.settings.text_color }};"
                {% endcapture %}

                {%- if icon != 'none' or  block.settings.text != blank -%}
                  {% render 'text-with-icon' with icon: icon, 
                    block_attributes: block.shopify_attributes,
                    attributes: block_attr,
                    custom_icon: custom_icon, 
                    text: block.settings.text, 
                    link: block.settings.link, 
                    link_attr: link_attr
                  %}
                {%- endif -%}

              {% when 'page' %}
                {% if block.settings.page.content %}
                  <div class="image-with-text-overlay__page text-link-animated" style="padding-bottom: {{ block.settings.page_bottom_spacing }}px;" {{ block.shopify_attributes }}>{{ block.settings.page.content }}</div>
                {% endif %}

              {% when 'button' %}
                {% unless block.settings.first_button_link == blank and block.settings.first_button_label == blank and block.settings.second_button_link == blank and block.settings.second_button_label == blank %}
                  <div class="image-with-text-overlay__buttons{% if block.settings.buttons_style == 'underlined' %} nav-link-animated--custom{% endif %}" style="padding-bottom: {{ block.settings.buttons_bottom_spacing }}px;" {{ block.shopify_attributes }}>
                    {% liquid
                      case block.settings.buttons_style
                        when 'filled'
                          assign button_classes = 'btn'
                          assign button_styles = 'style="color: ' | append: block.settings.buttons_text | append: '; background: ' | append: block.settings.buttons_background | append: ';"'
                        when 'outlined'
                          assign button_classes = 'btn btn--secondary'
                          assign button_styles = 'style="color: ' | append: block.settings.buttons_background | append: '; border-color: ' | append: block.settings.buttons_background | append: ';"'
                        when 'underlined'
                          assign button_classes = 'animated-link--item'
                          assign button_styles = 'style="color: ' | append: section.settings.text_color | append: ';"'
                      endcase
                    %}
                    {% if block.settings.first_button_link != blank and block.settings.first_button_label != blank %}
                      <a href="{{ block.settings.first_button_link }}" class="{{ button_classes }}" {{ button_styles }}>
                          {{ block.settings.first_button_label }}
                      </a>
                    {% endif %}
                    {% if block.settings.second_button_link != blank and block.settings.second_button_label != blank %}
                      <a href="{{ block.settings.second_button_link }}" class="{{ button_classes }}" {{ button_styles }}>
                          {{ block.settings.second_button_label }}
                      </a>
                    {% endif %}
                  </div>
                {% endunless %}

              {% when 'image' %}
                <div class="{{ block.id }} image-with-text-overlay__image-block" style="padding-bottom: {{ block.settings.image_bottom_spacing }}px;" {{ block.shopify_attributes }}>
                  {% if block.settings.image_link != blank %}
                    <a href="{{ block.settings.image_link }}" class="image-with-text-overlay__image-link">
                  {% endif %}
                    {% if block.settings.image != blank %}
                      {% liquid 
                        assign alt = shop.name | escape
                        if block.settings.image.alt != blank
                          assign alt = block.settings.image.alt | escape
                        endif
                      %}
                      {% render 'responsive-image' with block.settings.image, loading: 'eager', alt: alt %}
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
                    {% endif %}
                  {% if block.settings.image_link != blank %}
                    </a>
                  {% endif %}
                </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.image--image-with-text-overlay.name",
  "tag": "section",
  "class": "section--image-with-text-overlay",
  "settings": [
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:all.Image"
    },
    {
      "type": "select",
      "id": "height_desktop",
      "label": "t:all.Section_height",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "450px",
          "label": "t:all.Small"
        },
        {
          "value": "550px",
          "label": "t:all.Medium"
        },
        {
          "value": "650px",
          "label": "t:all.Large"
        },
        {
          "value": "750px",
          "label": "t:all.Extra_Large"
        },
        {
          "value": "100vh",
          "label": "t:all.Fullscreen"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_position_desktop",
      "label": "t:all.Text_position",
      "default": "bottom_center",
      "options": [
        {
          "value": "top_left",
          "label": "t:all.Top_left"
        },
        {
          "value": "top_center",
          "label": "t:all.Top_center"
        },
        {
          "value": "top_right",
          "label": "t:all.Top_right"
        },
        {
          "value": "left",
          "label": "t:all.Center_left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        },
        {
          "value": "right",
          "label": "t:all.Center_right"
        },
        {
          "value": "bottom_left",
          "label": "t:all.Bottom_left"
        },
        {
          "value": "bottom_center",
          "label": "t:all.Bottom_center"
        },
        {
          "value": "bottom_right",
          "label": "t:all.Bottom_right"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_desktop",
      "label": "t:all.Text_alignment",
      "default": "center"
    },
    {
      "type": "range",
      "id": "caption_width_desktop",
      "label": "t:all.Caption_max_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:all.Image"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:all.Section_height",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "250px",
          "label": "t:all.Small"
        },
        {
          "value": "300px",
          "label": "t:all.Medium"
        },
        {
          "value": "400px",
          "label": "t:all.Large"
        },
        {
          "value": "500px",
          "label": "t:all.Extra_Large"
        },
        {
          "value": "100vh",
          "label": "t:all.Fullscreen"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_position_mobile",
      "label": "t:all.Text_position",
      "default": "bottom_center",
      "options": [
        {
          "value": "top_left",
          "label": "t:all.Top_left"
        },
        {
          "value": "top_center",
          "label": "t:all.Top_center"
        },
        {
          "value": "top_right",
          "label": "t:all.Top_right"
        },
        {
          "value": "left",
          "label": "t:all.Center_left"
        },
        {
          "value": "center",
          "label": "t:all.Center"
        },
        {
          "value": "right",
          "label": "t:all.Center_right"
        },
        {
          "value": "bottom_left",
          "label": "t:all.Bottom_left"
        },
        {
          "value": "bottom_center",
          "label": "t:all.Bottom_center"
        },
        {
          "value": "bottom_right",
          "label": "t:all.Bottom_right"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "label": "t:all.Text_alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:all.section_link"
    },
    {
      "type": "url",
      "id": "section_link",
      "label": "t:all.Link",
      "info": "t:all.optional_link_removed_when_block_link_is_added"
    },
    {
      "type": "header",
      "content": "t:all.animation"
    },
    {
      "type": "select",
      "id": "animation_style",
      "label": "t:all.Style",
      "default": "sticky_content",
      "info": "t:all.parallax_info",
      "options": [
        {
          "value": "parallax",
          "label": "t:all.parallax"
        },
        {
          "value": "sticky_content",
          "label": "t:all.sticky_content"
        },
        {
          "value": "none",
          "label": "t:all.None"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "range",
      "id": "section_margin_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:all.Text",
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "caption_bg_color",
      "label": "t:all.Caption_background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "image_overlay_color",
      "label": "t:all.image_overlay",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "t:all.percentage",
      "label": "t:all.image_overlay_opacity",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:all.Heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Image with text overlay"
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "label": "t:all.font_size_desktop",
          "min": 12,
          "max": 112,
          "unit": "t:all.px",
          "default": 28
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "label": "t:all.font_size_mobile",
          "min": 12,
          "max": 112,
          "unit": "t:all.px",
          "default": 28
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "heading_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 25
        }
      ]
    },
    {
      "type": "text",
      "name": "t:all.Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Add an image paired with text to give focus to your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "label": "t:all.font_size_desktop",
          "min": 12,
          "max": 112,
          "unit": "t:all.px",
          "default": 16
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "label": "t:all.font_size_mobile",
          "min": 12,
          "max": 112,
          "unit": "t:all.px",
          "default": 16
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "text_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 20
        }
      ]
    },
    {
      "type": "text_with_icon",
      "name": "t:all.Text_with_icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:all.Icon",
          "default": "star",
          "options": [
            {
              "value": "none",
              "label": "t:all.None"
            },
            {
              "value": "home-smile",
              "label": "t:all.Home_with_smile"
            },
            {
              "value": "store",
              "label": "t:all.Store"
            },
            {
              "value": "flag",
              "label": "t:all.Flag"
            },
            {
              "value": "service",
              "label": "t:all.Customer_service"
            },
            {
              "value": "chat",
              "label": "t:all.Chat_bubble"
            },
            {
              "value": "chat-smile",
              "label": "t:all.Chat_bubble_with_smile"
            },
            {
              "value": "question-answer",
              "label": "t:all.Question_and_answer"
            },
            {
              "value": "wallet",
              "label": "t:all.Wallet"
            },
            {
              "value": "price-tag",
              "label": "t:all.Price_tag"
            },
            {
              "value": "crown",
              "label": "t:all.Crown"
            },
            {
              "value": "exchange",
              "label": "t:all.Exchange"
            },
            {
              "value": "gift",
              "label": "t:all.Gift"
            },
            {
              "value": "clock",
              "label": "t:all.Clock"
            },
            {
              "value": "truck",
              "label": "t:all.Truck"
            },
            {
              "value": "measuring_tape",
              "label": "t:all.Measuring_tape"
            },
            {
              "value": "info",
              "label": "t:all.Info"
            },
            {
              "value": "heart",
              "label": "t:all.Heart"
            },
            {
              "value": "map-pin",
              "label": "t:all.Map_pin"
            },
            {
              "value": "car",
              "label": "t:all.Car"
            },
            {
              "value": "takeaway",
              "label": "t:all.Takeaway"
            },
            {
              "value": "restaurant",
              "label": "t:all.Restaurant"
            },
            {
              "value": "cup",
              "label": "t:all.Cup"
            },
            {
              "value": "star",
              "label": "t:all.Star"
            },
            {
              "value": "sun",
              "label": "t:all.Sun"
            },
            {
              "value": "moon",
              "label": "t:all.Moon"
            },
            {
              "value": "cake",
              "label": "t:all.Cake"
            },
            {
              "value": "handbag",
              "label": "t:all.Handbag"
            },
            {
              "value": "umbrella",
              "label": "t:all.Umbrella"
            },
            {
              "value": "recycle",
              "label": "t:all.Recycle"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:all.Custom_icon",
          "info": "t:all.Aspect_ratio_of_1_1_recommended"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:all.Text",
          "default": "Highlight a feature"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:all.Link",
          "info": "t:all.Optional"
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "text_with_icon_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 20
        }
      ]
    },
    {
      "type": "page",
      "name": "t:all.page",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "t:all.page"
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "page_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 20
        }
      ]
    },
    {
      "type": "button",
      "name": "t:all.Button",
      "settings": [
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:all.first_button_link",
          "default": "/collections"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "label": "t:all.first_button_label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:all.second_button_link"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:all.second_button_label"
        },
        {
          "type": "select",
          "id": "buttons_style",
          "label": "t:all.button_style",
          "default": "filled",
          "options": [
            {
              "value": "filled",
              "label": "t:all.Filled"
            },
            {
              "value": "outlined",
              "label": "t:all.Outlined"
            },
            {
              "value": "underlined",
              "label": "t:all.underlined"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "buttons_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:all.Color"
        },
        {
          "type": "color",
          "id": "buttons_text",
          "label": "t:all.Button_text",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "buttons_background",
          "label": "t:all.Button_background",
          "default": "#242424"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:all.Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:all.Link",
          "info": "t:all.Optional"
        },
        {
          "type": "header",
          "content": "t:all.Layout"
        },
        {
          "type": "range",
          "id": "image_bottom_spacing",
          "label": "t:all.bottom_spacing",
          "min": 0,
          "max": 40,
          "unit": "t:all.px",
          "default": 20
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image--image-with-text-overlay.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "text_with_icon",
          "settings": {
            "text_with_icon_bottom_spacing": 5
          }
        },
        {
          "type": "text_with_icon"
        },
        {
          "type": "button",
          "settings": {
            "buttons_bottom_spacing": 0
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
