{{ 'section-featured-collection.min.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'section-featured-collection.min.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid 
  assign wrapper_classes = ''

  if section.settings.layout_style == 'slider' and settings.hover_navigation_desktop == 'above'
    if section.settings.title != blank or section.settings.description != blank
      assign wrapper_classes = 'remove--spacing'
    endif
  endif
%}

<div
  class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}{% if request.visual_preview_mode %} animated fadeInUp{% else %} show-on-scroll{% endif %}{% if section.settings.layout_style == 'slider' %} slider-nav--{{ settings.hover_navigation_desktop }}{% endif %}"
  data-wetheme-section-type="collection--featured-collection" 
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  <div class="width--content">
    {% comment %} Section title and description {% endcomment %}
    {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description, wrapper_classes: wrapper_classes %}

    <div class="homepage-indiv-section-wrapper grid--full productpage-featured-content-wrapper">
      {% liquid 
        assign collection = collections[section.settings.collection]
        assign tablet_item_width = 'medium--one-third'

        case section.settings.grid-desktop
          when 2
            assign desktop_item_width = 'large--one-half'
            assign tablet_item_width = 'medium--one-half'
          when 3
            assign desktop_item_width = 'large--one-third'
          when 4
            assign desktop_item_width = 'large--one-quarter'
          when 5
            assign desktop_item_width = 'large--one-fifth'
          when 6
            assign desktop_item_width = 'large--one-sixth'
        endcase

        case section.settings.grid-mobile
          when "1"
          assign mobile_item_width = 'small--one-whole'
          when "2"
            assign mobile_item_width = 'small--one-half'
        endcase

        assign grid_item_width = desktop_item_width | append: ' ' | append: tablet_item_width | append: ' ' | append: mobile_item_width
        assign product_limit = section.settings.products_to_show
      %}

      <div 
        class="grid-uniform product-grid--wrapper{% if section.settings.layout_style == 'slider' %} product-grid--slider-enabled{% endif %}"
        {%- if section.settings.layout_style == 'slider' -%} data-grid-slider-wrapper{%- endif -%}
      >
        {%- if section.settings.layout_style == 'slider' -%}
          <safe-load-scripts class="hidden">
            <script src="{{ 'component-grid-slider.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="grid-slider"></script>
          </safe-load-scripts>

          <!-- navigation -->
          <div class="swiper-btn--wrapper small-hide swiper-btn-layout__{{ settings.hover_navigation_desktop }}">
            <div class="swiper-button--prev btn">
              {% render 'theme-icon', icon: 'chevron_left' %}
            </div>
            <div class="swiper-button--next btn">
              {% render 'theme-icon', icon: 'chevron_right' %}
            </div>
          </div>

          <grid-slider 
            class="swiper"
            data-slides-per-view-desktop="{{ section.settings.grid-desktop }}"
            data-slides-per-view-mobile="{{ section.settings.grid-mobile }}"
            data-product-limit="{{ product_limit }}"
          >
            <div class="swiper-wrapper">
        {%- endif -%}
          {% for product in collection.products limit: product_limit %}
            
            {% comment %}
              Set the default grid_item_width if no variable is set
            {% endcomment %}
            {% unless grid_item_width %}
              {% assign grid_item_width = 'large--one-third medium--one-half' %}
            {% endunless %}

            {% if section.settings.layout_style == 'slider' %}
              <div class="grid__item {{ grid_item_width }} swiper-slide">
            {% else %}
              <div class="grid__item {{ grid_item_width }} featured-product--grid-item">
            {% endif %}
                {% render 'grid-view-item', product: product, collection: collection, enable_badges: settings.show_badges, grid_count_desktop: section.settings.grid-desktop, grid_count_mobile: section.settings.grid-mobile, section_color_scheme: section.settings.colors %}
            </div>

          {% else %}
            {% for i in (1..product_limit) %}
              {% capture svg_index %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {% capture svg_index_reversed %}{% cycle 6, 5, 4, 3, 2, 1 %}{% endcapture %}
              {% if section.settings.layout_style == 'slider' %}
                <div class="grid__item {{ grid_item_width }} swiper-slide">
              {% else %}
                <div class="grid__item {{ grid_item_width }} featured-product--grid-item">
              {% endif %}
                  {% render 'grid-view-item-placeholder', svg_index: svg_index, svg_index_reversed: svg_index_reversed, section_color_scheme: section.settings.colors %}
              </div>
            {% endfor %}
          {% endfor %}
        {%- if section.settings.layout_style == 'slider' -%}
            </div>
          </grid-slider>

          <!-- pagination -->
          <div class="swiper-pagination"></div>

          <!-- scrollbar -->
          <div class="swiper-scrollbar large-hide"></div>
        {%- endif -%}
      </div>

      {% if section.settings.show_view_all %}
        <div class="text-center show-view-all--button">
          <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
            {{ 'collections.general.view_all' | t }}
          </a>
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "PDP Featured Collection",
  "class": "featured-products-wrapper productpage",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "t:all.Collection"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "t:sections.collection--featured-collection.settings.show_view_all.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "radio",
      "id": "layout_style",
      "label": "t:all.Style",
      "options": [
        {
          "value": "grid",
          "label": "t:all.Grid"
        },
        {
          "value": "slider",
          "label": "t:all.Slider"
        }
      ],
      "default": "slider"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "t:all.Products_to_show",
      "default": 8
    },
    {
      "type": "range",
      "id": "grid-desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:all.Product_per_row_desktop",
      "default": 4
    },
    {
      "type": "radio",
      "id": "grid-mobile",
      "label": "t:all.Product_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:all.1"
        },
        {
          "value": "2",
          "label": "t:all.2"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Featured Collection",
      "category": {
        "en": "Collection",
        "de": "Kollektion",
        "es": "Colección",
        "fr": "Collection",
        "pt-PT": "Coleção"
      }
    }
  ],
  "disabled_on": {
    "templates": [
      "collection"
    ],
    "groups": [
      "header",
      "footer"
    ]
  }
}
{% endschema %}