{{ 'section-recently-viewed.min.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'section-recently-viewed.min.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid 
  assign wrapper_classes = ''

  if section.settings.layout_style == 'slider' and settings.hover_navigation_desktop == 'above'
    if section.settings.title != blank or section.settings.description != blank
      assign wrapper_classes = 'remove--spacing'
    endif
  endif

  assign tablet_item_width = 'medium--one-third'

  case section.settings.grid-desktop
    when 2
      assign desktop_item_width = 'large--one-half'
      assign tablet_item_width = 'medium--one-half'
    when 3
      assign desktop_item_width = 'large--one-third'
    when 4
      assign desktop_item_width = 'large--one-quarter'
    when 5
      assign desktop_item_width = 'large--one-fifth'
    when 6
      assign desktop_item_width = 'large--one-sixth'
  endcase

  case section.settings.grid-mobile
    when "1"
      assign mobile_item_width = 'small--one-whole'
    when "2"
      assign mobile_item_width = 'small--one-half'
  endcase

  assign grid_item_width = desktop_item_width | append: ' ' | append: tablet_item_width | append: ' ' | append: mobile_item_width

  comment 
    Construct product card layout 
  endcomment
  assign quick_shop_desktop_enabled = settings.enable_quick_shop_desktop
  assign quick_shop_mobile_enabled = settings.enable_quick_shop_mobile
%}

{%- if settings.show_product_card_vendor -%}
  {%- if settings.type_card_vendor_font == "heading" -%}
    {%- capture product_card_vendor_font_styles -%}
      <style>
        #shopify-section-{{ section.id }} .product-grid--vendor {
          font-family: var(--header-font-stack);
          letter-spacing: var(--heading-spacing);
          text-transform: var(--heading-font-case);
          font-weight: var(--header-font-weight);
          font-style: var(--header-font-style);
        }
      </style>
    {%- endcapture -%}
  {%- endif -%}
{%- endif -%}

{%- if settings.show_product_card_title -%}
  {%- capture product_card_title_styles -%}
    <style>
      {% if settings.type_card_title_font == 'heading' %}
        [data-wetheme-section-id="{{ section.id }}"] .product-grid--title * {
          font-family: var(--header-font-stack);
          letter-spacing: var(--heading-spacing);
          text-transform: var(--heading-font-case);
          font-weight: var(--header-font-weight);
          font-style: var(--header-font-style);
        }
      {% endif %}
    </style>
  {%- endcapture -%}
{%- endif -%}

{%- if settings.show_product_card_price -%}
  {%- capture product_card_price_styles -%}
    <style>
      {% if settings.type_card_price_font == 'heading' %}
        [data-wetheme-section-id="{{ section.id }}"] .product-grid--price * {
          font-family: var(--header-font-stack);
          letter-spacing: var(--heading-spacing);
          text-transform: var(--heading-font-case);
          font-weight: var(--header-font-weight);
          font-style: var(--header-font-style);
        }
      {% endif %}
    </style>
  {%- endcapture -%}
{%- endif -%}

<div 
  class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}{% if section.settings.layout_style == 'slider' %} slider-nav--{{ settings.hover_navigation_desktop }}{% endif %}{% if request.visual_preview_mode %} animated fadeInUp{% else %} show-on-scroll{% endif %}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px;--padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  <div
    class="recently-viewed-products collection width--content"
    data-product-handle="{{ product.handle }}"
    data-product-url="{% if routes.root_url != '/' %}{{ routes.root_url }}{% endif %}/products/PLACEHOLDER/?view=recently-used-grid"
    data-wetheme-section-type="template--product--recently-viewed"
    data-wetheme-section-id="{{ section.id }}"
    data-layout-style="{{ section.settings.layout_style }}"
    data-layout-classes="{{ grid_item_width }}"
    data-products-to-show="{{ section.settings.products_to_show }}"
    data-quick-shop-desktop-enabled="{{ quick_shop_desktop_enabled }}"
    data-quick-shop-mobile-enabled="{{ quick_shop_mobile_enabled }}"
    {% unless request.visual_preview_mode %}style="display: none"{% endunless %}
  >
    <div class="wrapper" role="main" data-grid-slider-wrapper>
      {% comment %} Section title and description {% endcomment %}
      {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description, wrapper_classes: wrapper_classes %}

      {{ product_card_title_styles }}
      {{ product_card_price_styles }}
      {{ product_card_vendor_font_styles }}

      <div class="product-grid--wrapper{% if section.settings.layout_style == 'slider' %} product-grid--slider-enabled{% endif %}"{% if section.settings.layout_style == 'grid' %} id="recently-viewed-products"{% endif %}>
        {%- if section.settings.layout_style == 'slider' -%}
          <safe-load-scripts class="hidden">
            <script src="{{ 'component-grid-slider.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="grid-slider"></script>
          </safe-load-scripts>

          <!-- navigation -->
          <div class="swiper-btn--wrapper small-hide swiper-btn-layout__{{ settings.hover_navigation_desktop }}">
            <div class="swiper-button--prev btn">
              {% render 'theme-icon', icon: 'chevron_left' %}
            </div>
            <div class="swiper-button--next btn">
              {% render 'theme-icon', icon: 'chevron_right' %}
            </div>
          </div>

          <grid-slider 
            class="swiper"
            data-slides-per-view-desktop="{{ section.settings.grid-desktop }}"
            data-slides-per-view-mobile="{{ section.settings.grid-mobile }}"
            data-product-limit="{{ section.settings.products_to_show }}"
          >

            <div class="swiper-wrapper" id="recently-viewed-products">
        {%- endif -%}

        {% comment %} Render placeholder grid for visual preview {% endcomment %}
        {% if request.visual_preview_mode %}
          {% for i in (1..section.settings.products_to_show) %}
            {% capture svg_index %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {% if section.settings.layout_style == 'slider' %}
              <div class="grid__item {{ grid_item_width }} swiper-slide">
            {% else %}
              <div class="grid__item {{ grid_item_width }} featured-product--grid-item">
            {% endif %}
                {% render 'grid-view-item-placeholder', svg_index: svg_index %}
            </div>
          {% endfor %}
        {% endif %}

        {%- if section.settings.layout_style == 'slider' -%}
            </div>
          </grid-slider>

          <!-- pagination -->
          <div class="swiper-pagination"></div>

          <!-- scrollbar -->
          <div class="swiper-scrollbar large-hide"></div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.template--product--recently-viewed.name",
  "class": "recently-viewed-wrapper",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading",
      "default": "Recently viewed products"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "radio",
      "id": "layout_style",
      "label": "t:all.Style",
      "options": [
        {
          "value": "grid",
          "label": "t:all.Grid"
        },
        {
          "value": "slider",
          "label": "t:all.Slider"
        }
      ],
      "default": "slider"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "t:all.Max_products_to_show",
      "default": 8
    },
    {
      "type": "range",
      "id": "grid-desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:all.Product_per_row_desktop",
      "default": 4
    },
    {
      "type": "radio",
      "id": "grid-mobile",
      "label": "t:all.Product_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:all.1"
        },
        {
          "value": "2",
          "label": "t:all.2"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "light",
      "options": [
        {
          "value": "white",
          "label": "t:all.Minimal"
        },
        {
          "value": "light",
          "label": "t:all.Light"
        },
        {
          "value": "accent",
          "label": "t:all.Feature"
        },
        {
          "value": "dark",
          "label": "t:all.Dark"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.template--product--recently-viewed.presets.name",
      "category": {
        "en": "Products",
        "de": "Produkte",
        "es": "Productos",
        "fr": "Produits",
        "pt-PT": "Produtos"
      },
      "settings": {
        "title": "Recently viewed products"
      }
    }
  ],
  "enabled_on": {
    "templates": [
      "product"
    ]
  }
}
{% endschema %}